:root {
    font-size: 10px;
    --color-primary: rgba(0,255,220,1);
    --color-secondary: rgb(248, 157, 213);
    --font-primary: 'Fuzzy Bubbles', cursive;
    --font-color-primary: rgb(194, 255, 247);

}