@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import "root";
@import "profile";
@import "navbar";
@import "linklist";
@import "body";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    height: 2rem;
    margin-top: auto;
}

@media (max-width: 700px) {
    footer {
        position: relative;
        margin-top: 80px;
    }
}