@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
:root {
  font-size: 10px;
  --color-primary: rgba(0,255,220,1);
  --color-secondary: rgb(248, 157, 213);
  --font-primary: "Fuzzy Bubbles", cursive;
  --font-color-primary: rgb(194, 255, 247);
}

.profile {
  display: inline-block;
  text-align: center;
  position: relative;
}
.profile .avatar {
  display: block;
  height: 25rem;
  width: 25rem;
  margin: 2rem auto;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 0px 15px 0px rgb(194, 255, 247);
}
@media (max-width: 700px) {
  .profile .avatar {
    height: 16rem;
    width: 16rem;
  }
}
.profile #titulo {
  margin: 0 auto;
  font-size: 5rem;
  text-shadow: 0 0 10px rgba(0, 255, 220, 0.3);
  color: var(--color-primary);
  -webkit-animation: titleAnimation 5s ease infinite;
          animation: titleAnimation 5s ease infinite;
  background: linear-gradient(0deg, rgb(197, 87, 228) 0%, rgb(47, 49, 182) 47%, rgb(0, 255, 220) 100%);
  background-size: 400% 400%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes titleAnimation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes titleAnimation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@media (max-width: 700px) {
  .profile #titulo {
    font-size: 3rem;
  }
}
.profile #description {
  display: block;
  font-size: 3rem;
  background: linear-gradient(0deg, rgb(197, 87, 228) 0%, rgb(47, 49, 182) 47%, rgb(0, 255, 220) 100%);
  background-size: 200% 170%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 700px) {
  .profile #description {
    font-size: 2rem;
  }
}

.nav {
  margin: 1rem auto;
  min-width: 35rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.nav img {
  width: 7rem;
}
@media (max-width: 700px) {
  .nav img {
    width: 4.5rem;
  }
}

.linkList {
  list-style: none;
  text-transform: capitalize;
  font-size: 4rem;
  text-shadow: 1px 1px 1px black;
  padding: 2rem 50rem;
}
.linkList a {
  text-decoration: none;
  margin: 1rem 0;
}
.linkList a li {
  display: flex;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  background-color: var(--color-secondary);
  margin: 1rem 0;
}
.linkList a li .linkImage {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.linkList a li .linkImage img {
  border: 0;
  border-radius: 10px;
  width: 8rem;
}
@media (max-width: 700px) {
  .linkList a li .linkImage img {
    width: 5rem;
  }
}
.linkList a li .linkText {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.linkList a li .linkText span {
  display: inline-block;
  color: var(--font-color-primary);
}

@media (max-width: 1500px) and (min-width: 983px) {
  .linkList {
    font-size: 4rem;
    padding: 2rem 25rem;
  }
}
@media (max-width: 982px) and (min-width: 701px) {
  .linkList {
    font-size: 4rem;
    padding: 2rem 15rem;
  }
}
@media (max-width: 700px) {
  .linkList {
    font-size: 2.5rem;
    padding: 2rem 5rem;
  }
}
body {
  background: url("../images/background.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: var(--font-primary);
}

@media (max-width: 700px) {
  body {
    background-size: 180vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  height: 2rem;
  margin-top: auto;
}

@media (max-width: 700px) {
  footer {
    position: relative;
    margin-top: 80px;
  }
}/*# sourceMappingURL=main.css.map */